VITE_API_BASE_URL=http://localhost:8787/api
VITE_SPEECH_LANG=en-US
VITE_MURF_HR_STRICT_VOICE=en-US-marcus
VITE_MURF_HR_FRIENDLY_VOICE=en-US-natalie
VITE_MURF_HR_TECHNICAL_VOICE=en-US-terrence
VITE_MURF_ASSISTANT_VOICE=en-US-aria
